<% if @messages.any? %>
  <ol class="messages">
	  <% @messages.each do |message| %>
	    <li id="<%= message.id %>">
				<% if message.user_id == current_user.id %>
				  <%= link_to gravatar_for(User.find(message.addressee_id)), User.find(message.addressee_id) %>
					  <span class="To:">
					    <strong>To:</strong>
					    <%= link_to User.find(message.addressee_id).name, User.find(message.addressee_id) %>
					  </span>
					  <span class="content"><%= wrap(message.content) %></span>
					  <span class="timestamp">
					    Sent <%= time_ago_in_words(message.created_at) %> ago.
					  </span>
				      <%= render partial: "shared/delete_link", locals: { object: message } %>
				<% end %>
				<% if message.addressee_id == current_user.id %>
					<%= link_to gravatar_for(User.find(message.user_id)), User.find(message.user_id) %>
					  <span class="From:">
					    <strong>From:</strong>
					    <%= link_to User.find(message.user_id).name, User.find(message.user_id) %>
					  </span>
					  <span class="content"><%= wrap(message.content) %></span>
					  <span class="timestamp">
					    Sent <%= time_ago_in_words(message.created_at) %> ago.
					  </span>
				<% end %>
		  </li>
    <% end %>
  </ol>
<% else %>
	<p>No messages</p>
<% end %>
